<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Workouts</title>
</head>
<body>
  <h1>All Workouts</h1>
  <ul>
    <% workouts.forEach(workout => { %>
      <li>
        <strong>Name:</strong> <%= workout.name %><br>
        <strong>Duration:</strong> <%= workout.duration %> minutes<br>
        <strong>Date:</strong> <%= new Date(workout.date).toLocaleDateString() %><br>
      </li>
    <% }) %>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
