<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workouts</title>
</head>
<body>
  <h1>All Workouts</h1>
  <ul>
    <% workouts.forEach(workout => { %>
      <li><%= workout.name %> - <%= workout.description %></li>
    <% }) %>
  </ul>
</body>
</html>
